@import "driver.js/dist/driver.css";

/* Driver.js Popover Overrides */
.control-point-popover {
  translate: 0 40px;
}

@media (hover: none) {
  .control-point-popover {
    translate: 0 25px;
  }
  .driver-popover {
    max-width: 250px;
  }
}

.driver-popover {
  background-color: var(--accent);
  color: var(--text-dark);
}

.driver-popover-arrow-side-left {
  border-left-color: var(--accent);
}

.driver-popover-arrow-side-right {
  border-right-color: var(--accent);
}

.driver-popover-arrow-side-top {
  border-top-color: var(--accent);
}

.driver-popover-arrow-side-bottom {
  border-bottom-color: var(--accent);
}

.driver-popover-close-btn {
  color: var(--text-dark);
}

.driver-popover-footer button {
  padding: 6px 8px;
  background-color: var(--bg-main);
  color: var(--text-light);
  text-shadow: none;
  border: none;
}

.driver-popover-footer button:hover {
  opacity: 0.9;
  background-color: var(--bg-main);
}

.driver-popover-progress-text {
  color: var(--text-dark);
}
