@import "./driver-custom.css";

:root {
  /* Color Palette */
  --bg-main: #131417;
  --text-light: white;
  --text-dark: #131417;
  --accent: #f9de60;
  --button-bg: #333;
  --button-hover: #444;
  --input-bg: #222;
  --border-light: #444;
  --border-dark: #2f2f2f;

  /* Base Styles */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-select {
  -webkit-user-select: none; /* Safari, iOS Safari */
  -webkit-touch-callout: none; /* 롱프레스 컨텍스트 메뉴 방지 */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* 표준 */
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-light);
  height: 100dvh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.canvas-container {
  position: relative;
  margin: 16px 0;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 5 / 4;
}

.static-canvas,
.dynamic-canvas {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.toggle-button {
  border: none;
  padding: 10px 0;
  width: 76px;
}

:is(.toggle-button, .curve-picker, .duration > button) {
  text-transform: capitalize;
  background-color: var(--button-bg);
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--text-light);
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

:is(.toggle-button, .curve-picker, .duration > button):hover {
  background-color: var(--button-hover);
}

:is(.toggle-button, .curve-picker, .duration > button):active {
  opacity: 0.8;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.title {
  margin: 0 0 8px;
  padding: 0;
  text-transform: capitalize;
}

.curve-picker {
  -webkit-appearance: none;
  appearance: none;

  background-color: var(--input-bg);
  padding: 10px 35px 10px 15px; /* 오른쪽은 화살표 공간 확보 */
  border: 1px solid var(--border-light); /* 은은한 테두리 */

  /* 커스텀 드롭다운 화살표 (SVG 인코딩) */
  background-image: url("/public/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1.1rem;
}

.t-display {
  font-family: "Source Code Pro", Consolas, monospace;
  font-weight: 600;
  color: var(--accent);
  font-style: italic;
}

.main-header {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.onboard-button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;

  & > img {
    width: 26px;
    height: 26px;
  }
}

.github-link > img {
  width: 24px;
  height: 24px;
}

.duration {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.duration-display {
  border: 1px solid var(--border-dark);
  padding: 8px 0;
  border-radius: 5px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.duration > button {
  border: none;
  padding: 10px;
  display: grid;
  place-items: center;
}

.duration > button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.points-value {
  padding: 20px 16px 16px;
  font-family: "Source Code Pro", Consolas, monospace;
  font-size: 12px;
  font-style: italic;
  color: dimgray;
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}
