:root {
  /* Color Palette */
  --bg-main: #131417;
  --text-light: white;
  --text-dark: #131417;
  --accent: #f9de60;
  --button-bg: #333;
  --button-hover: #444;
  --input-bg: #222;
  --border-light: #444;
  --border-dark: #2f2f2f;

  /* Base Styles */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 유틸리티 클래스 */
.no-select {
  -webkit-user-select: none; /* Safari, iOS Safari */
  -webkit-touch-callout: none; /* 롱프레스 컨텍스트 메뉴 방지 */
  -ms-user-select: none; /* IE/Edge */
  user-select: none; /* 표준 */
}

.scale-150 {
  transform: scale(1.5);
}

body {
  margin: 0;
  background-color: var(--bg-main);
  color: var(--text-light);
  height: 100dvh;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
